<?xml version="1.0" encoding="UTF-8"?>
<?if $(var.InstallerScope) = PerUser ?>
  <?define PackageId=GreyhairATX.SuperPutty.CurrentUser ?>
  <?define PackageScope=perUser ?>
  <?define ApplicationShortcutsGuid=CE5F3040-4387-4C28-BFC6-8C719E64A10D ?>
  <?define ThemeIconFilesGuid=FDD258D9-3491-4F9F-B881-BB7ACA915921 ?>
  <?define ProductExeGuid=9540D008-B0DF-464D-9C29-36D91FBC664C ?>
  <?define ProductExeConfigGuid=8D9E5688-B0AD-404F-9790-080C53309B3C ?>
  <?define ThirdPartyNoticesGuid=A2A9347D-6AA5-4EA6-B2A4-6C2A1A9DF013 ?>
  <?define ProductLibLoggingGuid=A80C6002-05B0-491E-B943-0DF0818EAC56 ?>
  <?define ProductLibUIGuid=3489526C-2F15-4D8E-B23F-2C1E29AB0744 ?>
  <?define ProductLibUIThemeGuid=1E746857-0038-4A9D-9139-A10CEED812EB ?>
  <?define ProductLibRdpActiveXInteropGuid=F0DA4F16-2991-422A-9772-998537097F96 ?>
  <?define ProductLibRdpActiveXWindowsFormsInteropGuid=7B29B508-71A6-4B6A-9D5E-2FC2B25D9FFF ?>
<?else?>
  <?define PackageId=GreyhairATX.SuperPutty.AllUsers ?>
  <?define PackageScope=perMachine ?>
  <?define ApplicationShortcutsGuid=46262D1C-86F8-49A6-8A8B-7353B658FB13 ?>
  <?define ThemeIconFilesGuid=BF087426-7B24-4FC7-8353-0DD1732D35A9 ?>
  <?define ProductExeGuid=* ?>
  <?define ProductExeConfigGuid=* ?>
  <?define ThirdPartyNoticesGuid=* ?>
  <?define ProductLibLoggingGuid=* ?>
  <?define ProductLibUIGuid=* ?>
  <?define ProductLibUIThemeGuid=* ?>
  <?define ProductLibRdpActiveXInteropGuid=* ?>
  <?define ProductLibRdpActiveXWindowsFormsInteropGuid=* ?>
<?endif?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui"
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
  <Package Id="$(var.PackageId)"
           Name="SuperPuTTY"
           Language="1033"
           Version="$(var.InstallerProductVersion)"
           Manufacturer="Chris Thornton"
           UpgradeCode="42567f59-2f27-4e5b-a900-9141dc2dd929"
           InstallerVersion="500"
           Scope="$(var.PackageScope)">

    <Icon Id="ProductIcon" SourceFile="$(var.SuperPutty.ProjectDir)Apps-utilities-terminal.ico"/>
    <Property Id="ARPPRODUCTICON" Value="ProductIcon"/>
    <Property Id="ARPHELPLINK" Value="https://github.com/greyhair-atx/superputty/blob/master/docs/manual/README.md"/>
    <Property Id="ARPURLINFOABOUT" Value="https://github.com/greyhair-atx/superputty"/>
    <Property Id="ARPNOREPAIR" Value="1"/>

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />
    
    <Feature Id="ProductFeature" Title="SuperPuTTY" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="DefaultTheme" />
      <ComponentRef Id="ApplicationShortcuts" />
<?if $(var.InstallerScope) = PerUser ?>
      <ComponentRef Id="UserProfileFolderCleanup" />
<?endif?>
    </Feature>

<?if $(var.InstallerScope) = PerUser ?>
    <ui:WixUI Id="WixUI_Minimal" />
<?else?>
    <ui:WixUI Id="WixUI_InstallDir" InstallDirectory="APPLICATIONFOLDER" />
<?endif?>
    <WixVariable Id="WixUIBannerBmp" Value="WixUIBannerBmp.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="WixUIDialogBmp.bmp" />
    <!-- Keep this RTF deliberately simple for Windows Installer's legacy rich-text control. -->
    <WixVariable Id="WixUILicenseRtf" Value="InstallerLicense.rtf" />

    <UI>
      <Publish Dialog="ExitDialog"
               Control="Finish"
               Event="DoAction"
               Value="LaunchApplication"
               Condition="WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 AND NOT Installed" />
    </UI>
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch SuperPuTTY" />    
    <Property Id="WixShellExecTarget" Value="[#ProductExe]" />
    <CustomAction Id="LaunchApplication"
                  BinaryRef="Wix4UtilCA_X64"
                  DllEntry="WixShellExec"
                  Impersonate="yes" />
  </Package>

  <Fragment>
<?if $(var.InstallerScope) = PerUser ?>
    <StandardDirectory Id="LocalAppDataFolder">
      <Directory Id="UserAppsFolder" Name="Apps">
        <Directory Id="APPLICATIONFOLDER" Name="SuperPuTTY">
          <Directory Id="INSTALLTHEMEFOLDER" Name="themes">
            <Directory Id="INSTALLDEFAULTTHEME" Name="default">
              <Directory Id="INSTALLTHEMEICONSFOLDER" Name="icons" />
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </StandardDirectory>
<?else?>
    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="APPLICATIONFOLDER" Name="SuperPuTTY">
        <Directory Id="INSTALLTHEMEFOLDER" Name="themes">
          <Directory Id="INSTALLDEFAULTTHEME" Name="default">
            <Directory Id="INSTALLTHEMEICONSFOLDER" Name="icons" />
          </Directory>
        </Directory>
      </Directory>
    </StandardDirectory>
<?endif?>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ProgramMenuSubfolder" Name="SuperPuTTY">
        <Component Id="ApplicationShortcuts" Guid="$(var.ApplicationShortcutsGuid)">

            <Shortcut Id="ApplicationShortcut1"
                      Name="SuperPuTTY" 
                      Description="SuperPuTTY SSH Window Manager"
                      Target="[APPLICATIONFOLDER]SuperPutty.exe"
                      WorkingDirectory="APPLICATIONFOLDER" />

            <Shortcut Id="UninstallProduct"
                      Name="Uninstall SuperPuTTY"
                      Target="[SystemFolder]msiexec.exe"
                      Arguments="/x [ProductCode]"
                      Description="Uninstalls SuperPuTTY" />

            <File Id="ProjectWebsiteShortcut"
                  Source="Project Website.url"
                  Name="Project Website.url" />

            <RegistryValue Root="HKCU"
                           Key="Software\Jim Radford\SuperPuTTY"
                           Name="installed"
                           Type="integer"
                           Value="1"
                           KeyPath="yes" />

          <RemoveFolder Id="ProgramMenuSubfolder" On="uninstall" />
        </Component>
      </Directory>
    </StandardDirectory>

<?if $(var.InstallerScope) = PerUser ?>
    <Component Id="UserProfileFolderCleanup"
               Guid="6099A2AF-121F-470F-98DC-0C16A3ED0440"
               Directory="APPLICATIONFOLDER">
      <RemoveFolder Id="RemoveUserAppsFolder" Directory="UserAppsFolder" On="uninstall" />
      <RemoveFolder Id="RemoveApplicationFolder" Directory="APPLICATIONFOLDER" On="uninstall" />
      <RemoveFolder Id="RemoveThemeFolder" Directory="INSTALLTHEMEFOLDER" On="uninstall" />
      <RemoveFolder Id="RemoveDefaultThemeFolder" Directory="INSTALLDEFAULTTHEME" On="uninstall" />
      <RemoveFolder Id="RemoveThemeIconsFolder" Directory="INSTALLTHEMEICONSFOLDER" On="uninstall" />
      <RegistryValue Root="HKCU"
                     Key="Software\Jim Radford\SuperPuTTY\InstallerComponents"
                     Name="UserProfileFolders"
                     Type="string"
                     Value="[ProductVersion]"
                     KeyPath="yes" />
    </Component>
<?endif?>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="APPLICATIONFOLDER">
      <Component Id="ProductExe" Guid="$(var.ProductExeGuid)">
        <File Id="ProductExe" Source="$(var.SuperPutty.TargetPath)" />
<?if $(var.InstallerScope) = PerUser ?>
        <RegistryValue Root="HKCU" Key="Software\Jim Radford\SuperPuTTY\InstallerComponents" Name="ProductExe" Type="string" Value="[ProductVersion]" KeyPath="yes" />
<?endif?>
      </Component>
      <Component Id="ProductExeConfig" Guid="$(var.ProductExeConfigGuid)">
        <File Source="$(var.SuperPutty.TargetPath).config" />
<?if $(var.InstallerScope) = PerUser ?>
        <RegistryValue Root="HKCU" Key="Software\Jim Radford\SuperPuTTY\InstallerComponents" Name="ProductExeConfig" Type="string" Value="[ProductVersion]" KeyPath="yes" />
<?endif?>
      </Component>
      <Component Id="ThirdPartyNotices" Guid="$(var.ThirdPartyNoticesGuid)">
        <File Source="$(var.SuperPutty.TargetDir)\THIRD-PARTY-NOTICES.txt" />
<?if $(var.InstallerScope) = PerUser ?>
        <RegistryValue Root="HKCU" Key="Software\Jim Radford\SuperPuTTY\InstallerComponents" Name="ThirdPartyNotices" Type="string" Value="[ProductVersion]" KeyPath="yes" />
<?endif?>
      </Component>
      <Component Id="ProductLibLogging" Guid="$(var.ProductLibLoggingGuid)">
        <File Source="$(var.SuperPutty.TargetDir)\log4net.dll" />
<?if $(var.InstallerScope) = PerUser ?>
        <RegistryValue Root="HKCU" Key="Software\Jim Radford\SuperPuTTY\InstallerComponents" Name="ProductLibLogging" Type="string" Value="[ProductVersion]" KeyPath="yes" />
<?endif?>
      </Component>
      <Component Id="ProductLibUI" Guid="$(var.ProductLibUIGuid)">
        <File Source="$(var.SuperPutty.TargetDir)\WeifenLuo.WinFormsUI.Docking.dll" />
<?if $(var.InstallerScope) = PerUser ?>
        <RegistryValue Root="HKCU" Key="Software\Jim Radford\SuperPuTTY\InstallerComponents" Name="ProductLibUI" Type="string" Value="[ProductVersion]" KeyPath="yes" />
<?endif?>
      </Component>
      <Component Id="ProductLibUITheme" Guid="$(var.ProductLibUIThemeGuid)">
        <File Source="$(var.SuperPutty.TargetDir)\WeifenLuo.WinFormsUI.Docking.ThemeVS2015.dll" />
<?if $(var.InstallerScope) = PerUser ?>
        <RegistryValue Root="HKCU" Key="Software\Jim Radford\SuperPuTTY\InstallerComponents" Name="ProductLibUITheme" Type="string" Value="[ProductVersion]" KeyPath="yes" />
<?endif?>
      </Component>
      <Component Id="ProductLibRdpActiveXInterop" Guid="$(var.ProductLibRdpActiveXInteropGuid)">
        <File Source="$(var.SuperPutty.TargetDir)\Interop.MSTSCLib.dll" />
<?if $(var.InstallerScope) = PerUser ?>
        <RegistryValue Root="HKCU" Key="Software\Jim Radford\SuperPuTTY\InstallerComponents" Name="ProductLibRdpActiveXInterop" Type="string" Value="[ProductVersion]" KeyPath="yes" />
<?endif?>
      </Component>
      <Component Id="ProductLibRdpActiveXWindowsFormsInterop" Guid="$(var.ProductLibRdpActiveXWindowsFormsInteropGuid)">
        <File Source="$(var.SuperPutty.TargetDir)\AxInterop.MSTSCLib.dll" />
<?if $(var.InstallerScope) = PerUser ?>
        <RegistryValue Root="HKCU" Key="Software\Jim Radford\SuperPuTTY\InstallerComponents" Name="ProductLibRdpActiveXWindowsFormsInterop" Type="string" Value="[ProductVersion]" KeyPath="yes" />
<?endif?>
      </Component>
    </ComponentGroup>    
    <ComponentGroup Id="DefaultTheme" Directory="INSTALLTHEMEICONSFOLDER">
      <Component Id="ThemeIconFiles" Guid="$(var.ThemeIconFilesGuid)">
<?if $(var.InstallerScope) = PerUser ?>
        <RegistryValue Root="HKCU" Key="Software\Jim Radford\SuperPuTTY\InstallerComponents" Name="ThemeIconFiles" Type="string" Value="[ProductVersion]" KeyPath="yes" />
<?endif?>
        <File Source="$(var.SuperPutty.TargetDir)themes\default\icons\application_osx_terminal.png" />
        <File Source="$(var.SuperPutty.TargetDir)themes\default\icons\application_xp_terminal.png" />
        <File Source="$(var.SuperPutty.TargetDir)themes\default\icons\book.png" />
        <File Source="$(var.SuperPutty.TargetDir)themes\default\icons\clock.png" />
        <File Source="$(var.SuperPutty.TargetDir)themes\default\icons\comment.png" />
        <File Source="$(var.SuperPutty.TargetDir)themes\default\icons\compress.png" />
        <File Source="$(var.SuperPutty.TargetDir)themes\default\icons\database.png" />
        <File Source="$(var.SuperPutty.TargetDir)themes\default\icons\drive_network.png" />
        <File Source="$(var.SuperPutty.TargetDir)themes\default\icons\email.png" />
        <File Source="$(var.SuperPutty.TargetDir)themes\default\icons\feed.png" />
        <File Source="$(var.SuperPutty.TargetDir)themes\default\icons\firewall.png" />
        <File Source="$(var.SuperPutty.TargetDir)themes\default\icons\flag_blue.png" />
        <File Source="$(var.SuperPutty.TargetDir)themes\default\icons\flag_green.png" />
        <File Source="$(var.SuperPutty.TargetDir)themes\default\icons\flag_orange.png" />
        <File Source="$(var.SuperPutty.TargetDir)themes\default\icons\flag_pink.png" />
        <File Source="$(var.SuperPutty.TargetDir)themes\default\icons\flag_purple.png" />
        <File Source="$(var.SuperPutty.TargetDir)themes\default\icons\flag_red.png" />
        <File Source="$(var.SuperPutty.TargetDir)themes\default\icons\flag_yellow.png" />
        <File Source="$(var.SuperPutty.TargetDir)themes\default\icons\help.png" />
        <File Source="$(var.SuperPutty.TargetDir)themes\default\icons\house.png" />
        <File Source="$(var.SuperPutty.TargetDir)themes\default\icons\information.png" />
        <File Source="$(var.SuperPutty.TargetDir)themes\default\icons\ipod.png" />
        <File Source="$(var.SuperPutty.TargetDir)themes\default\icons\lightbulb.png" />
        <File Source="$(var.SuperPutty.TargetDir)themes\default\icons\lightning.png" />
        <File Source="$(var.SuperPutty.TargetDir)themes\default\icons\lorry.png" />
        <File Source="$(var.SuperPutty.TargetDir)themes\default\icons\map.png" />
        <File Source="$(var.SuperPutty.TargetDir)themes\default\icons\monitor.png" />
        <File Source="$(var.SuperPutty.TargetDir)themes\default\icons\printer.png" />
        <File Source="$(var.SuperPutty.TargetDir)themes\default\icons\report.png" />
        <File Source="$(var.SuperPutty.TargetDir)themes\default\icons\server.png" />
        <File Source="$(var.SuperPutty.TargetDir)themes\default\icons\telephone.png" />
        <File Source="$(var.SuperPutty.TargetDir)themes\default\icons\television.png" />
        <File Source="$(var.SuperPutty.TargetDir)themes\default\icons\time.png" />
        <File Source="$(var.SuperPutty.TargetDir)themes\default\icons\tux.png" />
        <File Source="$(var.SuperPutty.TargetDir)themes\default\icons\webcam.png" />
        <File Source="$(var.SuperPutty.TargetDir)themes\default\icons\world.png" />
        <File Source="$(var.SuperPutty.TargetDir)themes\default\icons\puffy.png" />
        <File Source="$(var.SuperPutty.TargetDir)themes\default\icons\arch_linux.png" />
        <File Source="$(var.SuperPutty.TargetDir)themes\default\icons\centos.png" />
        <File Source="$(var.SuperPutty.TargetDir)themes\default\icons\debian.png" />
        <File Source="$(var.SuperPutty.TargetDir)themes\default\icons\fedora.png" />
        <File Source="$(var.SuperPutty.TargetDir)themes\default\icons\freebsd.png" />
        <File Source="$(var.SuperPutty.TargetDir)themes\default\icons\linux_mint.png" />
        <File Source="$(var.SuperPutty.TargetDir)themes\default\icons\redhat.png" />
        <File Source="$(var.SuperPutty.TargetDir)themes\default\icons\suse_linux.png" />
        <File Source="$(var.SuperPutty.TargetDir)themes\default\icons\ubuntu.png" />
        <File Source="$(var.SuperPutty.TargetDir)themes\default\icons\windows.png" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
