<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui"
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">

  <Package Id="GreyhairATX.SuperPutty"
           Name="SuperPuTTY"
           Language="1033"
           Version="1.6.0"
           Manufacturer="SuperPuTTY Community"
           UpgradeCode="42567f59-2f27-4e5b-a900-9141dc2dd929"
           Scope="perMachine">

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Icon Id="ProductIcon" SourceFile="$(var.SuperPutty.ProjectDir)Apps-utilities-terminal.ico" />
    <Property Id="ARPPRODUCTICON" Value="ProductIcon" />
    <Property Id="ARPHELPLINK" Value="https://github.com/jimradford/superputty/wiki/Documentation" />
    <Property Id="ARPURLINFOABOUT" Value="https://github.com/jimradford/superputty/wiki" />
    <Property Id="ARPNOREPAIR" Value="1" />

    <Feature Id="ProductFeature" Title="SuperPuTTY" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="ApplicationShortcuts" />
    </Feature>

    <ui:WixUI Id="WixUI_InstallDir" InstallDirectory="INSTALLFOLDER" />
    <WixVariable Id="WixUIBannerBmp" Value="WixUIBannerBmp.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="WixUIDialogBmp.bmp" />
    <WixVariable Id="WixUILicenseRtf" Value="..\License.rtf" />

    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="INSTALLFOLDER" Name="SuperPuTTY" />
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ProgramMenuSubfolder" Name="SuperPuTTY">
        <Component Id="ApplicationShortcuts" Guid="0CF406F3-901A-4C75-9DCB-BE6042BC70CE">
          <Shortcut Id="ApplicationShortcut"
                    Name="SuperPuTTY"
                    Description="SuperPuTTY SSH Window Manager"
                    Target="[INSTALLFOLDER]SuperPutty.exe"
                    WorkingDirectory="INSTALLFOLDER" />
          <util:InternetShortcut Id="ProjectWebsiteShortcut"
                                 Name="Project Website"
                                 Target="https://github.com/jimradford/superputty/wiki/" />
          <Shortcut Id="UninstallProduct"
                    Name="Uninstall SuperPuTTY"
                    Target="[SystemFolder]msiexec.exe"
                    Arguments="/x [ProductCode]"
                    Description="Uninstalls SuperPuTTY" />
          <RegistryValue Root="HKCU"
                         Key="Software\Jim Radford\SuperPuTTY"
                         Name="installed"
                         Type="integer"
                         Value="1"
                         KeyPath="yes" />
          <RemoveFolder Id="ProgramMenuSubfolder" On="uninstall" />
        </Component>
      </Directory>
    </StandardDirectory>

    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="ProductExecutable">
        <File Id="ProductExe" Source="$(var.SuperPutty.TargetPath)" KeyPath="yes" />
      </Component>
      <Files Include="$(var.SuperPutty.TargetDir)**">
        <Exclude Files="$(var.SuperPutty.TargetPath)" />
        <Exclude Files="$(var.SuperPutty.TargetDir)**\*.pdb" />
      </Files>
    </ComponentGroup>

  </Package>
</Wix>
